:root {
  --clr-brand-h: 14;
  --clr-brand-s: 96%;
  --clr-brand-l: 71%;
  --clr-brand: hsl(var(--clr-brand-h), var(--clr-brand-s), var(--clr-brand-l));

  --clr-white: white;
  --clr-surface: #1D3354;
  --clr-surface-alt: #356D97;
  --clr-surface-dark: #1a2d4c;
  --clr-background: #162241;
  --clr-waves-bright: #173665;
  --clr-danger-background: #461616;
  --clr-danger-color: #b74c4c;

  --border-radius: .5rem;

  --fnt-brand: 'Roboto', sans-serif;
}

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  color-scheme: dark;
  font-family: var(--fnt-brand);
  background: var(--clr-background);
  color: var(--white);
  min-width: 350px;
}

#app {
  display: flex;
  min-height: 100vh;
  min-width: 350px;
  overflow: hidden;
}

@media (max-width: 650px) {
  #app {
    flex-direction: column;
  }
}

main {
  flex: 1;
}
